@keyframes popup {
    from {top: 200%;}
    to {top:  50%;}
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    top: 0;
    left: 0;
}

.popup {
    position: fixed;
    z-index: 100;
    width: 97vw;
    height: 97vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    animation-name: popup;
    animation-duration: 0.5s;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000;
}

.close {
    cursor: pointer;
    font-size: 35px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-info a {
    font-size: 55px;
    position: relative;
}

.contact-info a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.contact-info a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social h3 {
    position: relative;
}

.social h3::after {
    content: 'ly Awkward';
    display: none;
}

.social h3:hover::after {
    display: inline-flex;
}

@media screen and (max-width: 700px) {
    .contact-info a {
        font-size: 35px;
    }
}

@media screen and (max-width: 500px) {
    .contact-info a {
        font-size: 25px;
    } 
}