.projects {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.projects-intro {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .projects-intro h1 {
    font-weight: 700;
    font-size: 150px;
}

.projects .technical-projects .technical-projects-title {
    text-align: center;
}

.projects .illustrations {
    padding: 50px;
}

.projects .illustrations .illustrations-title {
    text-align: center;
}